@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96.1%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142.1 76.2% 36.3%;

    --radius: 0.75rem;

    --gradient-start: 160 50% 12%;
    --gradient-end: 169 70% 14%;
    --gradient-accent: 160 60% 30%;
  }

  .dark {
    --background: 168 70% 6%;
    --foreground: 0 0% 98%;

    --card: 170 50% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 168 80% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 150 70% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 165 30% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 170 20% 15%;
    --muted-foreground: 170 10% 65%;

    --accent: 165 40% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 165 35% 22%;
    --input: 165 35% 22%;
    --ring: 150 70% 50%;

    --gradient-start: 165 80% 10%;
    --gradient-end: 175 70% 12%;
    --gradient-accent: 160 60% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }
  .animate-background-pan {
    animation: background-pan 10s linear infinite;
  }
  .bg-noise {
    background-image: url('/noise.png');
    background-repeat: repeat;
    opacity: 0.03;
  }
}
