@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 50% 12%;
    --foreground: 0 0% 98%;
    --card: 165 46% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 160 50% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 150 70% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 165 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 165 30% 15%;
    --muted-foreground: 165 10% 65%;
    --accent: 165 40% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 165 35% 22%;
    --input: 165 35% 22%;
    --ring: 150 70% 50%;
    --radius: 0.75rem;

    --gradient-start: 160 50% 12%;
    --gradient-end: 169 70% 14%;
    --gradient-accent: 160 60% 30%;
  }

  .dark {
    --background: 160 50% 12%;
    --foreground: 0 0% 98%;
    --card: 165 46% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 160 50% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 150 70% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 165 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 165 30% 15%;
    --muted-foreground: 165 10% 65%;
    --accent: 165 40% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 165 35% 22%;
    --input: 165 35% 22%;
    --ring: 150 70% 50%;

    --gradient-start: 160 50% 12%;
    --gradient-end: 169 70% 14%;
    --gradient-accent: 160 60% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }
  .animate-background-pan {
    animation: background-pan 10s linear infinite;
  }
  .bg-noise {
    background-image: url('/noise.png');
    background-repeat: repeat;
    opacity: 0.03;
  }
}